[client]
# 这里使用的容器名称。所有容器都指定在同一 network 中，docker 允许处在同一网络环境的容器使用容器名称项目访问。另外，容器启动时会随机分配 IP，所以这里使用容器名称最合适。当然也可以容器启动时，指定的 IP
host=127.0.0.1
port=3307
# mysql 用户名
user=exporter
# mysql 用户密码
password=Prometheus
tls=skip-verify
